<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header>
<div>
    <h1>ADMIN</h1>
</div>

    <div>
        <ul>
            <li><a href="{{ path('adminarticlelist') }}">article</a></li>
            <li><a href="{{ path('admincategorielist') }}">category</a></li>
            <li><a href="{{ path('admintaglist') }}">tag</a></li>
        </ul>
    </div>
</header>
<main>
    {% block content %} {% endblock %}
</main>

<footer>

</footer>
</body>
</html>
