{% extends 'Front/base.html.twig'  %}

{% block content %}
    <div class="card">


        <h1>{{ categorie.title }}</h1>
        <p>{{ categorie.description }}</p>
        <em>{{ categorie.id }}</em>

        {% for article in categorie.articles %}
        <p>{{ article.title }}</p>
        {% endfor %}

    </div>
{% endblock content %}