{% extends 'Front/base.html.twig'  %}
{% block content %}
{% for categorie in categories %}

    <div class="card">

        <a href="{{ path('categorie', {id: categorie.id}) }}">
            <h1>{{ categorie.title }}</h1>
            <p>{{ categorie.description }}</p>
            <em>{{ categorie.id }}</em>
        </a>
    </div>

{% endfor %}
{% endblock content %}