{% extends 'base.html.twig'  %}
{% block content %}
<div class="card">


        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <em>{{ article.id }}</em>

</div>
{% endblock content %}